<div class="container">

  	<div class="ui-g">
		<div>
			<h1>{{ getTranslation('kerubin.clientes.agenciaBancaria') }}</h1>
		</div>
		
		<!-- Begin Filters -->
		<p-accordion class="ui-g-12">
			<p-accordionTab header="Filtro">
			
				<div class="ui-g">
					<div class="ui-g-12">
					</div>
					
					<div>
						<p-button label="Pesquisar" (click)="agenciaBancariaFilterSearch()"></p-button>
					</div>
				</div>
				
			
			</p-accordionTab>
		</p-accordion>
		<!-- End Filters -->
		
		<!-- Begin GRID -->
		<div class="ui-g-12" name="data-grid">
			<p-table selectionMode="single" [loading]="loading" [responsive]="true" [customSort]="true" [paginator]="true" 
				[value]="agenciaBancariaListItems"
			    [rows]="agenciaBancariaListFilter.pageSize" 
			    [totalRecords]="agenciaBancariaListTotalElements"
			    [lazy]="true" (onLazyLoad)="agenciaBancariaListOnLazyLoad($event)" >
			    
			    <ng-template pTemplate="header">
		            <tr>
		            	<th [pSortableColumn]="'numero'">{{ getTranslation('kerubin.clientes.agenciaBancaria_numero_grid') }}<p-sortIcon [field]="'numero'"></p-sortIcon></th>
		            	<th [pSortableColumn]="'digito'">{{ getTranslation('kerubin.clientes.agenciaBancaria_digito_grid') }}<p-sortIcon [field]="'digito'"></p-sortIcon></th>
		            	<th [pSortableColumn]="'endereco'">{{ getTranslation('kerubin.clientes.agenciaBancaria_endereco_grid') }}<p-sortIcon [field]="'endereco'"></p-sortIcon></th>
		            	<th [pSortableColumn]="'banco'">{{ getTranslation('kerubin.clientes.agenciaBancaria_banco_grid') }}<p-sortIcon [field]="'banco'"></p-sortIcon></th>
						<th style="width: 12em">Ações</th>
		            </tr>
		        </ng-template>
		        
			    <ng-template pTemplate="body" let-agenciaBancaria>
		            <tr [pSelectableRow]="agenciaBancaria">
		            	<td>
		            		{{agenciaBancaria?.numero}}
		            	</td>
		            	<td>
		            		{{agenciaBancaria?.digito}}
		            	</td>
		            	<td>
		            		{{agenciaBancaria?.endereco}}
		            	</td>
		            	<td>
		            		{{agenciaBancariaBancoAutoCompleteFieldConverter(agenciaBancaria?.banco)}}
		            	</td>
		              	<td class="kb-actions">
		              		<a pButton [routerLink]="['/agenciabancaria', agenciaBancaria.id]" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
		              		<!-- <button (click)="mostrarPagarConta(agenciaBancaria)" pButton icon="pi pi-money"  pTooltip="Pagar esta conta" tooltipPosition="top"></button> -->
		              		<button (click)="deleteAgenciaBancaria(agenciaBancaria)" pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top"></button>
		              	</td>
		            </tr>
		        </ng-template>
		        
		        
		        <ng-template pTemplate="emptymessage" let-columns>
				    <tr>
				        <td [attr.colspan]="5">
				            Nenhum registro encontrado.
				        </td>
				    </tr>
				</ng-template>
				
			</p-table>
		</div>
		<!-- End GRID -->
		
		<div class="ui-g-12">
			<a routerLink="/agenciabancaria/novo" pButton label="Novo registro"></a>
		</div>
		
		<!-- Begin Extras
		
		<p-dialog header="Pagar conta" [(visible)]="mostrarDialogPagarConta" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
		        [maximizable]="false" [baseZIndex]="10000">
		      <div>
		          <div>Conta: <strong>{{ contaPagar.descricao }}</strong></div>
		          <div>
		              <label style="display: block">Valor pago</label>
		              <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
		              [(ngModel)]="contaPagar.valorPago" pInputText type="text" name="contaPagarValorPago" ngModel placeholder="0,00">
		          </div>
		          <div>
		              <label style="display: block">Data pagamento</label>
		              <p-calendar name="contaPagarDataPagamento" dateFormat="dd/mm/yy"
		              [inline]="false" [readonlyInput]="false" [showIcon]="false"
		               [(ngModel)]="contaPagar.dataPagamento" ngModel></p-calendar>
		          </div>
		      </div>
		        <p-footer>
		            <button type="button" pButton icon="pi pi-check" (click)="executarPagarConta()" label="Pagar"></button>
		            <button type="button" pButton icon="pi pi-close" (click)="cancelarPagarConta()" label="Cancelar" class="ui-button-secondary"></button>
		        </p-footer>
		</p-dialog>
		
		End Extras -->
	</div>
  
</div>
