<div class="container">

  	<div class="ui-g">
		<div>
			<h1>{{ getTranslation('cadastros.banco.bandeiraCartao') }}</h1>
		</div>
		
		<!-- Begin Filters -->
		<p-accordion class="ui-g-12">
			<p-accordionTab header="Filtro">
			
				<div class="ui-g">
					<div class="ui-g-12">
						
						<div class="ui-g-12 ui-md-12 ui-fluid">
							<label class="label-r">Bandeira(s)</label>
							<p-autoComplete name="bandeiraCartaoNomeBandeiraAutoComplete" 
							placeholder="Digite para pesquisar..." [dropdown]="true" 
							[(ngModel)]="bandeiraCartaoListFilter.nomeBandeira" [multiple]="true"
							[suggestions]="bandeiraCartaoNomeBandeiraAutoCompleteSuggestions"
							(completeMethod)="bandeiraCartaoNomeBandeiraAutoComplete($event)"
							field="nomeBandeira"></p-autoComplete>
						</div>
					</div>
					
					<div>
						<p-button label="Pesquisar" (click)="bandeiraCartaoFilterSearch()"></p-button>
					</div>
				</div>
				
			
			</p-accordionTab>
		</p-accordion>
		<!-- End Filters -->
		
		<!-- Begin GRID -->
		<div class="ui-g-12" name="data-grid">
			<p-table selectionMode="single" [loading]="loading" [responsive]="true" [customSort]="true" [paginator]="true" 
				[value]="bandeiraCartaoListItems"
			    [rows]="bandeiraCartaoListFilter.pageSize" 
			    [totalRecords]="bandeiraCartaoListTotalElements"
			    [lazy]="true" (onLazyLoad)="bandeiraCartaoListOnLazyLoad($event)" >
			    
			    <ng-template pTemplate="header">
		            <tr>
		            	<th [pSortableColumn]="'nomeBandeira'">{{ getTranslation('cadastros.banco.bandeiraCartao_nomeBandeira_grid') }}<p-sortIcon [field]="'nomeBandeira'"></p-sortIcon></th>
						<th style="width: 12em">Ações</th>
		            </tr>
		        </ng-template>
		        
			    <ng-template pTemplate="body" let-bandeiraCartao>
		            <tr [pSelectableRow]="bandeiraCartao">
		            	<td>
		            		{{bandeiraCartao?.nomeBandeira}}
		            	</td>
		              	<td class="kb-actions">
		              		<a pButton [routerLink]="['/bandeiracartao', bandeiraCartao.id]" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
		              		<!-- <button (click)="mostrarPagarConta(bandeiraCartao)" pButton icon="pi pi-money"  pTooltip="Pagar esta conta" tooltipPosition="top"></button> -->
		              		<button (click)="deleteBandeiraCartao(bandeiraCartao)" pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top"></button>
		              	</td>
		            </tr>
		        </ng-template>
		        
		        
		        <ng-template pTemplate="emptymessage" let-columns>
				    <tr>
				        <td [attr.colspan]="2">
				            Nenhum registro encontrado.
				        </td>
				    </tr>
				</ng-template>
				
			</p-table>
		</div>
		<!-- End GRID -->
		
		<div class="ui-g-12">
			<a routerLink="/bandeiracartao/novo" pButton label="Novo registro"></a>
		</div>
		
		<!-- Begin Extras
		
		<p-dialog header="Pagar conta" [(visible)]="mostrarDialogPagarConta" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
		        [maximizable]="false" [baseZIndex]="10000">
		      <div>
		          <div>Conta: <strong>{{ contaPagar.descricao }}</strong></div>
		          <div>
		              <label style="display: block">Valor pago</label>
		              <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
		              [(ngModel)]="contaPagar.valorPago" pInputText type="text" name="contaPagarValorPago" ngModel placeholder="0,00">
		          </div>
		          <div>
		              <label style="display: block">Data pagamento</label>
		              <p-calendar name="contaPagarDataPagamento" dateFormat="dd/mm/yy"
		              [inline]="false" [readonlyInput]="false" [showIcon]="false"
		               [(ngModel)]="contaPagar.dataPagamento" ngModel></p-calendar>
		          </div>
		      </div>
		        <p-footer>
		            <button type="button" pButton icon="pi pi-check" (click)="executarPagarConta()" label="Pagar"></button>
		            <button type="button" pButton icon="pi pi-close" (click)="cancelarPagarConta()" label="Cancelar" class="ui-button-secondary"></button>
		        </p-footer>
		</p-dialog>
		
		End Extras -->
	</div>
  
</div>
