<div class="container" style="max-width: 400px; margin: auto">

  <form *ngIf="!accountCreated" #form1="ngForm" (ngSubmit)="createAccount(form1.form)">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <div class="primeiro-mes-gratis">Aproveite, o primeiro mês <strong>é grátis.</strong></div>
        <div class="criar-sua-conta">Crie sua conta.</div>
      </div>

      <div class="ui-g-12">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pencil"></i></span>
              <input appFocus [disabled]="disabled" pInputText type="text" placeholder="Nome completo" pInputText #name="ngModel" ngModel [(ngModel)]="userAccount.name" name="name" required>
            </div>
            <div class="invalid-message" *ngIf="name.invalid && name.dirty">Informe o nome completo.</div>
      </div>

      <div class="ui-g-12">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input [disabled]="disabled" pInputText type="email" placeholder="E-mail" #email="ngModel" ngModel [(ngModel)]="userAccount.email" name="email" required>
            </div>
            <div class="invalid-message" *ngIf="email.invalid && email.dirty">Informe o e-mail.</div>
      </div>

      <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input [disabled]="disabled" pInputText type="password" placeholder="Senha" #password="ngModel" ngModel [(ngModel)]="userAccount.password" name="password" required>
          </div>
          <div class="invalid-message" *ngIf="password.invalid && password.dirty">Informe a senha.</div>
      </div>

      <div class="ui-g-12">
          <div class="ui-inputgroup">
              <span class="newaccount-dropdown-icon ui-inputgroup-addon"><i class="pi pi-share-alt"></i></span>
              <p-dropdown id="newaccount-dropdown" required #accountType="ngModel" ngModel
              optionLabel="label" name="accountType" #accountType
              [options]="accountTypeFieldOptions" [(ngModel)]="accountTypeSelected"
              placeholder="Selecione o tipo da conta"></p-dropdown>
            </div>
            <div class="invalid-message" *ngIf="accountType.invalid && accountType.dirty">Selecione o tipo da conta.</div>
      </div>

      <div class="ui-g-12">
        <button class="ui-button-raised ui-button-success" style="border: 1px solid darkgreen; font-weight: bold"  pButton [disabled]="disabled"  type="submit" [label]="btnLabel"></button>
      </div>

    </div>
  </form>

  <div *ngIf="accountCreated" class="ui-g ui-fluid">

    <div class="ui-g-12">
      <div [innerHTML]="createdAccountResult"></div>
    </div>

  </div>

  <div class="ui-g-12 ui-fluid ui-md-3">
    <a (click)="goBack()" *ngIf="!disabled" pButton style="border: 1px solid silver" class="ui-button-secondary" label="Voltar"></a>
  </div>

</div>

